@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'VerizonNHGeDSRegular';
  src: url('../fonts/VerizonNHGeDS-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGDSLight';
  src: url('../fonts/VerizonNHGDS-Light.woff2') format('woff2');
  font-weight: normal;
}

/* @font-face {
    font-family: 'VerizonNHGeDSBold';
    src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
    font-weight: normal;
} */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*    -webkit-backface-visibility: hidden;*/
  /* Safari */
  /*    backface-visibility: hidden;*/
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
  --cta-arrow-width: 9px;
  --headline-font: 34px;
}

/* ------------ Generic ----------- */
.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #F8F3E9;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */
#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------ Images ----------- */
.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ------------ Text fields ----------- */
#main,
.heading,
.eyebrow,
.sublegal {
  position: relative;
  font-family: 'VerizonNHGDSLight';
  color: #000;
}

b {
  /* font-family: VerizonNHGeDSBold; */
  font-weight: 400;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
}

/* Tooltip Properties */
.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0.35px;
  left: 0;
  width: 9px;
  height: 6px;
  z-index: 3;
}

.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 1;
}

.disclaimer {
  font-family: VerizonNHGDSLight;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*COLORS*/
.red,
red {
  color: #E10014;
}

.vzn_red_svg {
  fill: #E10014;
}

/* .coral, coral{
    color: #FF281E;
} */
.yellow,
yellow {
  color: #F5FF1E;
}

.stone,
stone {
  color: #F8F3E9;
}

.white,
white {
  color: #FFFFFF;
}

.black,
black {
  color: #000000;
}

#ctaWithText {
  width: 86px;
}

/*Footer*/
.footer-container,
.lockup-container {
  position: relative;
  display: flex;
  width: 100%;
}

.footer-container {
  max-height: 85px;
}

.lockup-container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.legal-container {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

.logo-container {
  position: relative;
  display: flex;
  min-width: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.logo-mask {
  position: relative;
  width: 81px;
}

.cta-container {
  display: flex;
}

.sublegal {
  font-size: 8px;
  color: #000000;
}

.cta-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.cta-mask {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row;
}

.cta-mask-arrow {
  position: absolute;
  width: 87px;
}

.cta-text {
  position: relative;
  white-space: nowrap;
  /*  padding-right: calc(var(--cta-arrow-width));*/
}

cta-abs {
  position: absolute;
  display: block;
  min-width: 9px;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ctaArrow {
  opacity: 1;
  top: 1.8px;
  position: relative;
}

#vlogo {
  position: absolute;
  width: 29px;
  height: auto;
  top: 4px;
  left: -1px;
}

#businessLogo {
  position: relative;
}

#logoMask,
#businessMask {
  position: absolute;
  left: 29px;
  top: 18px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

#businessLogo {
  width: 120px;
  height: 33px;
  overflow: hidden;
  left: 14px;
}

#LogoMask1A {
  display: flex;
  width: 100%;
  bottom: -2px;
}

#LogoMask2A {
  position: relative;
  right: -1px;
  width: 66.5%;
}

#LogoMask1A,
#LogoMask1B {
  width: inherit;
  height: 19px;
  overflow: hidden;
}

#LogoMask1A {
  opacity: 0;
  position: relative;
  right: -105%;
}

#LogoMask2A,
#LogoMask2B {
  width: inherit;
  height: 14px;
  overflow: hidden;
  bottom: 0px;
  position: absolute;
  left: 28px;
}

#BottomLogoA {
  bottom: 2px;
  position: relative;
  height: 0px;
  overflow: hidden;
}

/* LOGO AND CTA SVG DYNAMIC SIZE */
#ctaArrowOnly {
  display: flex;
}

/* #TopLogoA_svg, #BottomLogoA_svg, #ctaArrowOnly_svg{ width: 100%; height: auto; } */

#ctaArrowOnly {
  overflow: hidden;
  display: block;
  width: 26px;
  margin-top: 9px;
  margin-right: 15px;
  opacity: 0;
}

/*CUSTOMIZABLE*/
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#endframe {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading,
.subheading,
.cta-text,
.eyebrow {
  font-family: VerizonNHGDSLight;
}

.logo-fill {
  fill: #E10014;
}

.arrow-fill {
  fill: #F8F3E9;
}

.heading {
  font-size: 28px;
  line-height: 100%;
  text-align: center;
}

.subheading {
  font-size: 16px;
  margin-top: 15px;
}

.eyebrow {
  margin-bottom: 10px;
  font-size: 12px;
}

/* .logo{
    width: 81px;
    height: auto;
    fill:#E10014;
    position: relative;
} */
/* .cta-text {
    font-size: 16px;
    color: #E10014;
    width: 86px;
} */
#legalContainerInner .sublegal {
  text-align: right;
  position: absolute;
  top: -9px;
}

#legalContainerWide.legal-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

#legalContainerWide.legal-container:not(:empty) {
  margin-bottom: -20px;
}

.legal-container.legal-inner {
  margin-top: 0px;
}

.disclaimer {
  color: #000;
}

#deviceFrame {
  opacity: 0;
  visibility: visible;
  text-align: center;
}

#deviceFrame img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: auto;
}

.cta-mask {
  width: 53% !important;
}

#heading4,
#endframe {
  opacity: 0;
}

/* ------------- HEADLINES ---------------------------------------- */
#h1Heading div,
#h2Heading div,
#h3Heading div {
  will-change: transform;
  perspective: 1000px;
}

#h1Heading,
#h2Heading,
#h3Heading {
  margin-top: 31px;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.splitted-chars {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

#h1Heading .splitted-container:first-child {
  /* left: -2px;
    top: 1px; */
}

#h1Heading .splitted-container:last-child {
  /* top: 1px; */
}
#h1Heading {
  color: #E10014;
  top: 1px;
}
#h2Heading {
  color: #E10014;
  font-size: 64px;
  top: -5.5px;
  left: -0.5px;
}
#h2HeadingCirc1Wrapper1,
#h2HeadingCirc1Wrapper2 {
  width: 300px;
  height: 250px;
  position: absolute;
  top: -14px;
  left: 0;
}
#h2HeadingCirc1 {
  position: absolute;
  background-color: #F8F3E9;
  top: 25px;
  left: 19px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow:
        0 0 0 0.06em #000,
        0 0 0 6px #F8F3E8; */
  border: 3px solid #E10014;
}
#h2HeadingCirc2 {
  position: absolute;
  background-color: #F8F3E9;
  top: 25px;
  left: 82px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow:
        0 0 0 0.06em #000,
        0 0 0 6px #F8F3E8; */
  border: 1px solid #000;
}


#h3Heading {
  color: #F8F3E9;
  font-size: 28px;
  line-height: 28px;
  top: 1px;
  left: 1px;
  letter-spacing: 0px;
  will-change: transform;
  perspective: 1000px;
}
#h3HeadingCirc1 {
  position: absolute;
  background-color: #E10014;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  /* box-shadow:
        0 0 0 0.06em #000,
        0 0 0 6px #F8F3E8; */
  /* border: 3px solid #E10014; */
}
#h3HeadingCirc2 {
  position: absolute;
  /* background-color: #E10014; */
  top: -213px;
  width: 223px;
  height: 223px;
  border-radius: 50%;
  border: 1px solid #F5FF1E;
}
#h3HeadingCirc3 {
  position: absolute;
  /* background-color: #E10014; */
  top: -235px;
  width: 266.26px;
  height: 266.26px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
#h3HeadingCirc4 {
  position: absolute;
  /* background-color: #F8F3E9; */
  top: 212px;
  width: 223px;
  height: 223px;
  border-radius: 50%;
  border: 1px solid #F5FF1E;
}
#h3HeadingCirc5 {
  position: absolute;
  /* background-color: #E10014; */
  top: 190px;
  width: 266.26px;
  height: 266.26px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
#h3Heading .splitted-lines1 {
  left: -1px;
  letter-spacing: -0.45px;
}

#h3Heading .splitted-lines1 .splitted-chars8 {
  /* left: -2px; */
}

#h3Heading .splitted-lines1 .splitted-chars9 {
  /* left: -2px; */
}

#h3Heading .splitted-lines1 .splitted-chars10 {
  /* left: -2px; */
}

#h3Heading .splitted-lines1 .splitted-chars11 {
  /* left: -3px; */
}

#h3Heading .splitted-lines1 .splitted-chars12 {
  /* left: -3px; */
}

#h3Heading .splitted-lines1 .splitted-chars13 {
  left: -3px;
}
#rectWrapper,
#rectangleWrapper {
  position: absolute;
  width: 300px;
  height: 250px;
  top: -14px;
  left: 0px;
}
.rectBg {
  position: absolute;
  width: 300px;
  height: 125px;
}
#h3HeadingTopRect {
  height: 126px;
  background-color: #F8F3E9;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
#h3HeadingBotRect {
  background-color: #F8F3E9;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  bottom: 0;
}


#leftRect {
  top: 0px;
}
#rightRect {
  top: 125px;
}
#h4Heading {
  font-family: 'VerizonNHGeDSRegular';
  position: absolute;
  color: transparent;
  font-size: 143px;
  top: 22px;
  will-change: transform;
  perspective: 1000px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1.13px;
  letter-spacing: 0.2px;
  left: 12px;
}

.h4outlineText {
  font-family: 'VerizonNHGeDSRegular';
  color: #E10014;
  font-size: 143px;
  line-height: 117px;
  top: 21px;
  /* -webkit-text-stroke-color: #FFFFFF;
    -webkit-text-stroke-width: 1px; */
  /* will-change: transform; */
  perspective: 1000px;
  letter-spacing: 0.2px;
  left: -3px;
}

#h4outlineTextTop {
  top: -59px;
  /* display: none; */
}

#h4outlineTextBot {
  top: 58px;
  /* display: none; */
}
#h4outlineTextTop .splitted-lines1,
#h4outlineTextTop .splitted-lines2,
#h4outlineTextTop .splitted-lines3 {
  opacity: 0;
}
#h4outlineTextTop .splitted-lines3,
#h4outlineTextTop .splitted-lines1 {
  color: transparent;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1.13px;
}
#h4outlineTextBot .splitted-lines2,
#h4outlineTextBot .splitted-lines3,
#h4outlineTextBot .splitted-lines4 {
  opacity: 0;
}
#h4outlineTextBot .splitted-lines2,
#h4outlineTextBot .splitted-lines4 {
  color: transparent;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1.13px;
}
/* #h4outlineText .splitted-lines2{top:-2px}
#h4outlineText .splitted-lines3{top:-6px;opacity:0}
#h4outlineText .splitted-lines4{top:-7px}
#h4outlineText .splitted-lines5{top:-6px} */

#h5Heading {
  top: 17px;
}
#h5ShapeWrapper,
#h6ShapeWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.liner {
  position: absolute;
  width: 154px;
  height: 1px;
}
#h5HeadingLiner1 {
  background-color: #E10014;
  top: 32px;
  left: 120px;
}
#h5HeadingLiner2 {
  background-color: #E10014;
  width: 132px;
  left: -59px;
  top: 31px;
}
#h5HeadingLiner3 {
  background-color: #000000;
  top: 16px;
  left: -81px;
}
#h5HeadingCirc1 {
  position: absolute;
  top: 11px;
  left: 85px;
  width: 26px;
  height: 26px;
  background-color: #E10014;
  border-radius: 50%;
}

#h6HeadingLiner1 {
  background-color: #E10014;
  top: 215px;
  left: 26px;
  width: 147px;
}
#h6HeadingLiner2 {
  background-color: #E10014;
  left: 220px;
  top: 216px;
  width: 132px;
}
#h6HeadingLiner3 {
  background-color: #000000;
  top: 200px;
  left: 220px;
}
#h6HeadingCirc1 {
  position: absolute;
  top: 195px;
  left: 186px;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
}
#h6Heading {
  top: 17px;
}
#endframeRect {
  position: absolute;
  width: 300px;
  height: 250px;
  background-color: #E10014;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
#endFrameHeading {
  margin-top: 33px;
  color: #F8F3E8;
}

#endFrameHeading .splitted-container:first-child {
  color: #F5FF1E;
}

/* ------------- ELLIPSE ---------------------------------------- */
#ellipseWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ellipse {
  position: absolute;
  background-color: #E10014;
  border-radius: 50%;
  width: 98px;
  height: 98px;
}

#ellipse1 {
  top: 12px;
  left: -52px;
  will-change: transform;
  will-change: box-shadow;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

#ellipse2 {
  top: 140px;
  left: 253px;
  background-color: #000000;
}

/* #ellipse3 {
    top: 76px;
    left: 111px;
    opacity: 0;
}

#ellipse4 {
    top: 76px;
    left: 111px;
    opacity: 0;
} */

body {
  width: 300px;
  height: 250px;
}

body {
  width: 300px;
  height: 250px;
}
