@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'VerizonNHGDSRegular';
  src: url('../fonts/VerizonNHGDS-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGDSLight';
  src: url('../fonts/VerizonNHGDS-Light.woff2') format('woff2');
  font-weight: normal;
}

/* @font-face {
    font-family: 'VerizonNHGeDSBold';
    src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
    font-weight: normal;
} */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*    -webkit-backface-visibility: hidden;*/
  /* Safari */
  /*    backface-visibility: hidden;*/
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
  --cta-arrow-width: 9px;
  --headline-font: 34px;
}

/* ------------ Generic ----------- */
.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #F8F3E9;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */
#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

/* ------------ Images ----------- */
.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ------------ Text fields ----------- */
#main,
.heading,
.eyebrow,
.sublegal {
  position: relative;
  font-family: 'VerizonNHGDSLight';
  color: #000;
}

b {
  /* font-family: VerizonNHGeDSBold; */
  font-weight: 400;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
}

/* Tooltip Properties */
.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0.35px;
  left: 0;
  width: 9px;
  height: 6px;
  z-index: 3;
}

.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 1;
}

.disclaimer {
  font-family: VerizonNHGDSLight;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*COLORS*/
.red,
red {
  color: #E10014;
}

.vzn_red_svg {
  fill: #E10014;
}

/* .coral, coral{
    color: #FF281E;
} */
.yellow,
yellow {
  color: #F5FF1E;
}

.stone,
stone {
  color: #F8F3E9;
}

.white,
white {
  color: #FFFFFF;
}

.black,
black {
  color: #000000;
}

#ctaWithText {
  width: 86px;
}

/*Footer*/
.footer-container,
.lockup-container {
  position: relative;
  display: flex;
  width: 100%;
}

.footer-container {
  max-height: 85px;
}

.lockup-container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.legal-container {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

.logo-container {
  position: relative;
  display: flex;
  min-width: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  left: 11px;
  overflow: hidden;
}

.logo-mask {
  position: relative;
  width: 81px;
}

.cta-container {
  display: flex;
}

.sublegal {
  font-size: 8px;
  color: #000000;
}

.cta-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.cta-mask {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row;
}

.cta-mask-arrow {
  position: absolute;
  width: 87px;
}

.cta-text {
  position: relative;
  white-space: nowrap;
  /*  padding-right: calc(var(--cta-arrow-width));*/
}

cta-abs {
  position: absolute;
  display: block;
  min-width: 9px;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ctaArrow {
  opacity: 1;
  top: 1.8px;
  position: relative;
}

#vlogo {
  position: absolute;
  width: 29px;
  height: auto;
  top: 4px;
  left: -1px;
}

#businessLogo {
  position: relative;
}

#logoMask,
#businessMask {
  position: absolute;
  left: 29px;
  top: 18px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

#businessLogo {
  width: 120px;
  height: 28px;
  overflow: hidden;
  left: 4px;
}

#LogoMask1A {
  position: relative;
  display: flex;
  width: 100%;
  bottom: -2px;
}

#LogoMask2A {
  position: relative;
  right: -1px;
  width: 66.5%;
}

#LogoMask1A,
#LogoMask1B {
  width: inherit;
  height: 19px;
  overflow: hidden;
}

#LogoMask2A,
#LogoMask2B {
  width: inherit;
  height: 14px;
  overflow: hidden;
  bottom: 0px;
  position: absolute;
  left: 28px;
}

#BottomLogoA {
  bottom: 2px;
  position: relative;
  height: 0px;
  overflow: hidden;
}

/* LOGO AND CTA SVG DYNAMIC SIZE */
#ctaArrowOnly {
  display: flex;
}

/* #TopLogoA_svg, #BottomLogoA_svg, #ctaArrowOnly_svg{ width: 100%; height: auto; } */

#ctaArrowOnly {
  overflow: hidden;
  display: block;
  width: 26px;
  margin-top: 4px;
  margin-right: 14px;
  opacity: 0;
}

/*CUSTOMIZABLE*/
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading8,
#endframe {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading,
.subheading,
.cta-text,
.eyebrow {
  font-family: VerizonNHGDSLight;
}

.logo-fill {
  fill: #E10014;
}

.arrow-fill {
  fill: #F8F3E9;
}

.heading {
  font-size: 28px;
  line-height: 100%;
  text-align: center;
}

.subheading {
  font-size: 8px;
  margin-top: 14px;
}

.eyebrow {
  margin-bottom: 10px;
  font-size: 12px;
}

#legalContainerInner .sublegal {
  text-align: right;
  position: absolute;
  top: -9px;
}

#legalContainerWide.legal-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

#legalContainerWide.legal-container:not(:empty) {
  margin-bottom: -20px;
}

.legal-container.legal-inner {
  margin-top: 0px;
}

.disclaimer {
  color: #000;
}

#deviceFrame {
  opacity: 0;
  visibility: visible;
  text-align: center;
}

#deviceFrame img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: auto;
}

.cta-mask {
  width: 53% !important;
}

/* ------------- HEADLINES ---------------------------------------- */
#h1Heading,
#h2Heading {
  margin-top: 27px;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

#h1Heading,
#h2Heading div,
#h3Heading div,
#h5Heading div {
  will-change: transform;
  perspective: 1000px;
}

.splitted-chars {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* HEADING 1 */
#h1Heading {
  color: #E10014;
  font-size: 28px;
  line-height: 28px;
}

#h1OutlineTextTop {
  top: -69px;
  left: -142px;
}
#h1OutlineTextBot {
  bottom: -89px;
  right: -145px;
}
.outlineText_f1 {
  position: absolute;
  font-size: 96px;
  letter-spacing: 0em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

/* HEADING 2 */
#heading2 {
  width: 300px;
  height: 250px;
  top: -15px;
  left: 0px;
  background: #E10014;
}

#h2Heading {
  color: #F5FF1E;
  /* color: blue; */
  font-size: 42px;
  line-height: 42px;
  margin-top: 3px;
  letter-spacing: 0.25px;
  top: 130px;
}

.h2outlineText {
  color: #F8F3E9;
  font-size: 42px;
  line-height: 42px;
  top: -25px;
  perspective: 1000px;
  letter-spacing: 0.25px;
  left: 0px;
}
#h2OutlineTextTop {
  top: -39px;
}

#h2OutlineTextBot {
  top: 3px;
}

/* HEADING 3 */
.h3Heading {
  position: absolute;
  font-size: 28px;
  line-height: 28px;
}


#h3Heading {
  color: #F8F3E9;
  letter-spacing: 0em;
  position: relative;
  margin-top: 29px;
  margin-left: 0px;
}

#h3OutlineTextTop {
  top: -59px;
  left: -168px;
  opacity: 0;
}
#h3OutlineTextBot {
  bottom: -80px;
  right: -162px;
  opacity: 0;
}
.outlineText_f3 {
  position: absolute;
  font-size: 96px;
  letter-spacing: 0em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F8F3E9;
}

/* HEADING 4 */
#h4Heading {
  color: #000000;
  font-size: 48px;
  will-change: transform;
  perspective: 1000px;
  margin-top: 28px;
  letter-spacing: 0.009em;
}
/* HEADING 5 */
#h5Heading {
  color: #E10014;
  font-size: 48px;
  will-change: transform;
  perspective: 1000px;
  margin-top: 28px;
  letter-spacing: 0.009em;
}
/* HEADING 6 */
#h6Heading {
  color: #000000;
  font-size: 48px;
  will-change: transform;
  perspective: 1000px;
  margin-top: 28px;
  letter-spacing: 0.009em;
}
.outlineText_f5 {
  position: absolute;
  font-size: 96px;
  letter-spacing: 0em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F8F3E9;
}

/* .h6outlineText {
    color: #F8F3E9;
    font-size: 64px;
    line-height: 62px;
    top: 21px;
    perspective: 1000px;
    letter-spacing: 0.001em;
    left: 0px;
}
#h6outlineTextTop {
    top: -24px;
}

#h6outlineTextBot {
    top: 43px;
} */

/* END FRAME */
#endFrameHeading {
  margin-top: 28px;
  margin-left: 0px;
  color: #F8F3E8;
  z-index: 1;
  letter-spacing: -0.25px;
}

#endFrameSubHead {
  font-family: 'VerizonNHGDSRegular';
  color: #F8F3E9;
  margin-top: 10px;
}

#endFrameHeading .splitted-container:first-child {
  color: #F5FF1E;
}

/* ------------- ELLIPSE ---------------------------------------- */
#ellipseWrapper,
#circlesWrapper,
#f4-circle {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#circlesWrapper {
  width: 300px;
  height: 250px;
}
.circlePath {
  position: absolute;
  border: 1px solid #E10014;
  border-radius: 50%;
}

#circlePath1,
#ellipseWrapper {
  width: 277px;
  height: 277px;
}

#circlePath2 {
  width: 197px;
  height: 197px;
  margin-left: -1px;
  margin-top: -1px;
}

#dottedPath {
  width: 235px;
  height: 235px;
  border: 1px dotted #000;
}
/* #circ-dotted {
    left: 31px;
}
#circ-dotted-Wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
} */
#circ-dotted-Wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  width: 237px;
  height: 237px;
  backface-visibility: hidden;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
}

#ellipse {
  top: 0;
  left: 118px;
  width: 40px;
  height: 40px;
  background-color: #E10014;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

#ellipse2 {
  bottom: -7px;
  top: auto;
}

#ellipse3-F3 {
  width: 400px;
  height: 400px;
  background: #E10014;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

#circ-dotted,
.circ-red {
  position: absolute;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
  margin: auto;
}

#ellipseEndframeWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#ellipseEndFrame {
  position: absolute;
  border-radius: 50%;
  left: -50px;
  top: -75px;
  width: 400px;
  height: 400px;
  background-color: #E10014;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

svg {
  overflow: visible;
}

.mask-reveal {
  transform: rotate(91deg) scaleX(-1);
  transform-origin: center;
}

#circ-red-1-path,
#circ-red-2-path {
  transform-origin: center;
  transform: rotate(-90deg);
}

#circ-red-2-path {
  fill: none;
  stroke: #E10014;
  stroke-width: 5;
  transform: rotate(-90deg);
  transform-origin: center;
}
#circ-red-3-path {
  fill: none;
  stroke: #E10014;
  stroke-width: 130;
  transform: rotate(-90deg);
  transform-origin: center;
}
body {
  width: 300px;
  height: 250px;
}
