.fancybox-close { top: -20px; right: -20px; }
body,html{font-family: 'Roboto Slab',serif;}
h1{color: #666;font-size: 24px;}
h2{margin-left: 50px; padding-top: 10px; padding-bottom: 10px;font-size: 18px; color: #F26522; border-bottom: 1px dashed #666;} 
h1>sub, h2>sub{vertical-align: middle; font-size: 12px; color: #666; font-weight: normal;} 
#container{padding: 50px 0;
max-width: 980px;
margin: auto;}
.concepts article{cursor:pointer;display:inline-block;text-align:center;margin-left: 20px; padding: 10px;width: 200px; height:60px; border: 1px solid #ccc;}
.concepts{display: block; position: relative; padding-bottom:50px;}
.html5 {border:1px solid #ccc; margin-bottom:50px;}


.html5:hover{
    background: #3498db;
    color: #fff;
    -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; 
    animation: scaleIt ease-in-out .3s; animation-iteration-count: 1; -webkit-animation: scaleIt ease-in-out .3s; -webkit-animation-iteration-count: 1; -moz-animation: scaleIt ease-in-out .3s; -moz-animation-iteration-count: 1; -o-animation: scaleIt ease-in-out .3s; -o-animation-iteration-count: 1; -ms-animation: scaleIt ease-in-out .3s; -ms-animation-iteration-count: 1; 
}
    @keyframes scaleIt{0% {-webkit-transform:  scale(1) ;-moz-transform:  scale(1) ;transform:  scale(1) ; } 50% {-webkit-transform:  scale(.9) ;-moz-transform:  scale(.9) ;transform:  scale(.9) ; } 100% {-webkit-transform:  scale(1) ;-moz-transform:  scale(1) ;transform:  scale(1) ; } } 
    @-moz-keyframes scaleIt{0% {-moz-transform:  scale(1) ; } 50% {-moz-transform:  scale(.9) ; } 100% {-moz-transform:  scale(1) ; } } 
    @-webkit-keyframes scaleIt {0% {-webkit-transform:  scale(1) ; } 50% {-webkit-transform:  scale(.9) ; } 100% {-webkit-transform:  scale(1) ; } }

    header{ padding: 20px; border-bottom: 1px solid #ccc; max-width: 980px; margin: auto; text-align: center;}
    #logo{font-size:30px;}
    #logo img{position: relative; right: 0; width: 120px; float: right;}
    #filter{text-align: right;}
    #filter i, .form-select{display: inline-block;}
    #filter i{font-size: 20px;
    padding-right: 10px;
    color: #666;}
    .form-select {width: 200px; /*margin: auto 0 auto auto;*/} 
    .form-select select {    width: 100%;
    font-size: 14px;
    height: 45px;
    margin: 8px 0;
    border: 0;
    border: 1px solid #666;
    border-top: 4px solid #666;
    background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    -moz-background-size: 20px;
    background-size: 20px;
    background-position: right 10px center;
    font-family: 'Roboto Slab',serif;
    padding-left: 24px;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 4px;
    border-radius: 4px;} 
.data{
    color: white;
    font-size: 1em;
    font-family: 'Roboto Slab',serif;
}
.data p{
    margin-top: 5px;
    margin-bottom: 5px;
	white-space:nowrap;
}

.banner-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    border-radius: 6px;
}

.banner-item img {
    width: 200px; /* thumbnail size */
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.banner-item:hover img {
    transform: scale(1.05);
}

.banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 13px;
    text-align: center;
}