*{margin: 0;padding: 0;}
#container,#container div{position: absolute;opacity: 1;}
#container{cursor:pointer;width: 300px; height: 250px;pointer-events: none;border:1px black solid;box-sizing: border-box;display:none;overflow:hidden;}
#bg{width: 100%;height: 100%;background-color: #ffffff;pointer-events: auto;}
#bg img {top: -1px;left: -1px;}


/*Video Plate*/

#vp-frame, #ep-frame{
    width: 100%;
    height: 100%;
}
.ep-bg{width:100%; height: 100%;}
.ep-bg img{width:100%; height: auto;}
.character {
    left: -1px;
    top: -1px;
}
#video_holder {
    width: 300px;
    height: 181px;
    top: -1px;
    left: -1px;
    background-color: #000;
}

.date {
    display: none;
}

.sequence img {
    mix-blend-mode: lighten;
}

/*SPRITE*/
.sprite { background: url('sprite.png') no-repeat top left; width: 305px; height: 1097px; background-size: 305px 1097px;  } 
.sprite.ep-actor { background-position: 0 0; width: 85px; height: 18px; } 
.sprite.ep-cta-get-ticket { background-position: 0 -23px; width: 110px; height: 19px; } 
.sprite.ep-cta-watch-trailer { background-position: 0 -47px; width: 112px; height: 17px; } 
.sprite.ep-date1 { background-position: 0 -69px; width: 270px; height: 157px; } 
.sprite.ep-date2 { background-position: 0 -231px; width: 225px; height: 156px; } 
.sprite.ep-date3 { background-position: 0 -392px; width: 252px; height: 155px; } 
.sprite.ep-date4 { background-position: 0 -552px; width: 274px; height: 157px; } 
.sprite.ep-title { background-position: 0 -714px; width: 305px; height: 255px; } 
.sprite.vp-date1 { background-position: 0 -974px; width: 174px; height: 17px; } 
.sprite.vp-date2 { background-position: 0 -996px; width: 143px; height: 18px; } 
.sprite.vp-date3 { background-position: 0 -1019px; width: 171px; height: 16px; } 
.sprite.vp-date4 { background-position: 0 -1040px; width: 186px; height: 16px; } 
.sprite.vp-title { background-position: 0 -1061px; width: 275px; height: 36px; } 

/*VP FRAME*/
#footer {
    width: 100%;
    height: 68px;
    bottom: 0px;
}

.vp-date1 {
    bottom: 6px;
    left: 63px;
}
.vp-date2 {
    bottom: 5px;
    left: 78px;
}
.vp-date3 {
    bottom: 6px;
    left: 64px;
}
.vp-date4 {
    bottom: 6px;
    left: 57px;
}

.vp-title {
    top: 189px;
    left: 12px;
}

.btn_sound {
    width: 42px;
    height: 33px;
    top: 8px;
    right: -11px;
    pointer-events:auto;
}

.btn_sound > div {
    width: 26px;
    height: 19px;
}

/*EP FRAME*/
.ep-actor {
    top: 23px;
    left: 107px;
}

.ep-copyright {
    right: -2px;
    bottom: -2px;
}

.ep-cta-watch-trailer  {
    bottom: 3px;
    right: 7px;
}

.ep-cta-get-ticket {
    bottom: 2px;
    right: 9px;
}

.ep-date1 {
    bottom: -2px;
    left: 19px;
}
.ep-date2 {
    bottom: -2px;
    left: 41px;
}
.ep-date3 {
    bottom: -2px;
    left: 28px;
}
.ep-date4 {
    bottom: -2px;
    left: 17px;
}

.ep-title {
    top: -4px;
    left: -3px;
}
.ep-title1 {
    bottom: 42px;
    left: 20px;
}
.ep-title2 {
    bottom: 50px;
    left: 159px;
}
.ep-title3 {
    bottom: 42px;
    left: 197px;
}
.btn_replay{
    pointer-events:auto;
    left: 274px;
    top: 5px;
    width: 19px;
    height: 19px;
}
.sequence {
  width: 300px;
  height: 250px;
  overflow:hidden;
  left: -1px;
  top: -1px;
}
.textsCont{
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
}
#cta_holder{
    width: 132px;
    height: 30px;
    left: 87px;
    top: 207px;
    overflow: hidden;
}
.btn_cta{
    background-color: #a10000;
    border-radius: 5px;
    border: 1px solid #a10000;
    width: 127px;
    height: 25px;
    overflow: hidden;
    left: 2px;
}
.ctaShadow{
    background-color: #000;
    border-radius: 5px;
    width: 129px;
    height: 27px;
    top: 2px;
    left: 0px;
}
.cta_highlight{
    background-color: #e10001;
    border-radius: 50%;
    width: 160px;
    height: 52px;
    top: -37px;
    left: -16px;
}
.gradient{
    width: 300px;
    height: 250px;
}
.shine{
    width: 198px;
    height: 174px;
    bottom: -10px;
    left: -140px;
}
.ep-titleMask{
    width: 186px;
    height: 110px;
    top: 65px;
    left: 57px;
    opacity: 0;
}
.ep-titleMask img,
.ep-axe_left img,
.ep-axe_right img{
    width: 100%;
    height: auto;
}
.ep-axe_left{
    width: 197px;
    height: 208px;
}
.ep-axe_right{
    width: 205px;
    height: 209px;
}
.ep-axe_left{
    top: 10px;
    left: 54px;
}
.ep-axe_right{
    top: 9px;
    right: 49px;
}