@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
}

/* ------------ Generic ----------- */

.Absolute {
  position: absolute;
}

.Relative {
  position: relative;
}

.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-container {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 77px;
}

.media-frame {
  display: flex;
  width: 280px;
  height: 230px;
  overflow: hidden;
}

.lockup-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

/* .legal-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    opacity: 0;
    visibility: hidden;
} */

.logo-container {
  position: relative;
  display: flex;
  min-width: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.logo-mask {
  position: relative;
  width: 81px;
}

.cta-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
}

.cta-mask {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: row;
  width: 109px;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #000000;
  overflow: hidden;
  visibility: hidden;
  will-change: transform;
  perspective: 1000px;
}

/* ------------ DOM ----------- */

#deviceFrame,
#imgFrame {
  /*    opacity:0;*/
  /*    visibility: hidden;*/
  /*    top: 0;*/
}

#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  will-change: transform;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#heading1,
#heading2,
#heading3,
#heading4 {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  -webkit-font-smoothing: antialised;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  perspective: 1920px;
  image-rendering: auto;
  display: block;
  transition: transform 1ms;
}

#heading1,
#heading2,
#heading3 {
  /*    display: none;*/
}

#legalCont {
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

#frame-logo {
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 970px;
  flex-direction: column;
}

/* ------------ Images ----------- */

.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  width: 81px;
  height: auto;
}

.arrow-fill {
  fill: #fff;
}

.logo-color {
  fill: #fff;
}

/* ------------ Text fields ----------- */

.eyebrow {
  position: relative;
  font-family: "Open Sans";
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 1.25em;
  letter-spacing: -0.004em;
  text-align: left;
  margin: 108px 14px 5px 34px;
}

.heading {
  position: relative;
  font-family: "Open Sans";
  font-weight: 700;
  color: #000000;
  font-size: 27.5px;
  line-height: 1.25em;
  letter-spacing: -0.004em;
  text-align: left;
  margin: 0px 13px 11px 38px;
  will-change: transform;
  perspective: 1920px;
}

.subheading {
  position: relative;
  font-family: "Open Sans";
  color: #000000;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.3px;
  text-align: left;
  margin: 0px 14px 0 38px;
  font-weight: 500;
}

.disclaimer-text {
  position: relative;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.32em;
  letter-spacing: -0.02em;
  text-align: center;
}

.disclaimer-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  padding: 0px 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splitted-container {
  position: relative;
  line-height: 1.25em;
}

/* .legal {
    position: relative;
    font-family: VerizonNHGeDSRegular;
    color: #F3EDE0;
    font-size: 8px;
    line-height: 1em;
    text-align: left;
}

.legal-frame{
    position: relative;
    display: none;
    font-family: VerizonNHGeDSRegular;
    color: #fff;
    font-size: 8px;
    line-height: 1em;
    text-align: center;
} */

/* TEXT */

/* LOGO */

#ctaBox {
  position: absolute;
  width: auto;
  padding: 6px 15px 6px 15px;
  left: 36px;
  bottom: 41px;
  background-color: black;
  border-radius: 99em;
  overflow: hidden;
}

#disclaimerBtn {
  position: absolute;
  left: 55px;
  bottom: 40px;
  cursor: pointer;
  z-index: 4;
}

/* ----------- */

black {
  color: #000000;
}

red {
  color: #F50A23;
}

blush {
  color: #FF8C6C;
}

coral {
  color: #FF3C2D;
}

stone {
  color: #F3EDE0;
}

yellow {
  color: #F5FF1E;
}

white {
  color: #FFFFFF;
}

/* .copy-reg {
 font-family: VerizonNHGeDSRegular;
 font-weight: 400;
}

b {
    font-family: VerizonNHGeDSBold;
    font-weight: 400;
} */

.close-button {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 4;
  cursor: pointer;
}

.disclaimer-button {
  position: relative;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 8px;
  color: #000;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.cta-text {
  position: relative;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  white-space: nowrap;
}

.cta-cover {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background-color: #F3EDE0;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
}

#heading2 {
  margin-left: 1px;
}

#h2Heading {
  margin-top: 427px;
  font-size: 28px;
  letter-spacing: 0px;
}

#h2Heading small {
  font-size: 19px;
  text-decoration: line-through;
  position: relative;
  top: 13px;
}

.circ,
.circ2,
.circ3 {
  position: absolute;
  transform-origin: center;
}

body {
  width: 300px;
  height: 600px;
}

body {
  width: 300px;
  height: 600px;
}