@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*
@font-face {
    font-family: 'VerizonNHGeDSRegular';
    src: url('../fonts/VerizonNHGeDS-Regular.woff2') format('woff2');
    font-weight: normal;
}
*/
@font-face {
    font-family: 'VerizonNHGeDSBold';
    src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}    

html,
body {
    position: absolute;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    width:100%;
    height:100%;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --ad-width: 0;
    --ad-height: 0;
}
/* ------------ Generic ----------- */

.Guide{
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    display: none;
    z-index: 99;
}

.frame {
    position: absolute;
    display: flex;
    width:100%;
    height:100%;
}
.images{
    position: absolute;
    width: 300px;
    height: auto;
    object-fit: contain;
}
#imageBox{
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
}
#maskBox{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: transform;
    will-change: transform;
}
.maskingBG{
    position: absolute;
    background-color: #F3EDE0;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    -webkit-transform: transform;
    will-change: transform;

/*  SMALL */
/*    clip-path: polygon(64.7% 80.1%, 65% 68.6%, 65.5% 67.5%, 66.5% 66.3%, 67.3% 65.7%, 68.7% 65.3%, 90.8% 65.2%, 92.5% 65.6%, 93.6% 66.4%, 94.3% 67.3%, 94.8% 68.2%, 95% 68.7%, 95.3% 70.2%, 95.3% 84%, 95.3% 93.2%, 94.9% 94.1%, 94.6% 94.4%, 94% 94.7%, 93.1% 94.6%, 92.3% 93.9%, 84% 84.5%, 82.5% 83.6%, 80.9% 83.4%, 68.8% 83.28%, 67.2% 82.8%, 66.2% 82%, 65.4% 81%, 65% 80.2%, 64.65% 79%);*/

/*  MID   */
/*    clip-path: polygon(4.7% 80.1%, 5% 68.6%, 5.5% 67.5%, 6.5% 66.3%, 7.3% 65.7%, 8.7% 65.3%, 90.8% 65.2%, 92.5% 65.6%, 93.6% 66.4%, 94.3% 67.3%, 94.8% 68.2%, 95% 68.7%, 95.3% 70.2%, 95.3% 84%, 95.3% 93.2%, 94.9% 94.1%, 94.6% 94.4%, 94% 94.7%, 93.1% 94.6%, 92.3% 93.9%, 84% 84.5%, 82.5% 83.6%, 80.9% 83.4%, 8.8% 83.28%, 7.2% 82.8%, 6.2% 82%, 5.4% 81%, 5% 80.2%, 4.65% 79%);*/

/*  HALF  */
/*    clip-path: polygon(4.7% 60.1%, 5% 48.6%, 5.5% 47.5%, 6.5% 46.3%, 7.3% 45.7%, 8.7% 45.3%, 90.8% 45.2%, 92.5% 45.6%, 93.6% 46.4%, 94.3% 47.3%, 94.8% 48.2%, 95% 48.7%, 95.3% 50.2%, 95.3% 64%, 95.3% 93.2%, 94.9% 94.1%, 94.6% 94.4%, 94% 94.7%, 93.1% 94.6%, 92.3% 93.9%, 84% 84.5%, 82.5% 83.6%, 80.9% 83.4%, 8.8% 83.28%, 7.2% 82.8%, 6.2% 82%, 5.4% 81%, 5% 80.2%, 4.65% 79%);*/

/*  Full  */
/*    clip-path: polygon(4.7% 10.1%, 5% 8.6%, 5.5% 7.5%, 6.5% 6.3%, 7.3% 5.7%, 8.7% 5.3%, 90.8% 5.2%, 92.5% 5.6%, 93.6% 6.4%, 94.3% 7.3%, 94.8% 8.2%, 95% 8.7%, 95.3% 10.2%, 95.3% 84%, 95.3% 93.2%, 94.9% 94.1%, 94.6% 94.4%, 94% 94.7%, 93.1% 94.6%, 92.3% 93.9%, 84% 84.5%, 82.5% 83.6%, 80.9% 83.4%, 8.8% 83.28%, 7.2% 82.8%, 6.2% 82%, 5.4% 81%, 5% 80.2%, 4.65% 79%)*/
}

#logoBox{
    position: absolute;
    z-index: 1;
    bottom: 9px;
    left: 14px;
}

/* ------------ BUBBLE ------------ */

.bgColor{
    position: absolute;
    background-color: #F3EDE0;
    width: 100%;
    height: 100%;
}
#maskingBubble{
    -webkit-transform: transform;
    will-change: transform;
}

/* ------------ HEADLINE ------------ */

.headlineBox{
    position: absolute;
    width: 168px;
    height: 54px;
    
    left: 28px;
    top: 24px;
}
.headline{
    font-family: 'VerizonNHGeDSBold';
    font-size: 30px;
    line-height: 0.9em;
    color: #F50A23;   
    will-change: transform, opacity;
}
#f2HeadlineText .splitted-container:nth-child(2){
/*    overflow: hidden;*/
}
.splitted-container .Line2A1:nth-child(2){
    position: relative;
    top: 100px;
}
#f2HeadlineText .splitted-container:nth-child(3){
    position: absolute;
    overflow: hidden;
    top: -27px;
}
#f2HeadlineText .splitted-container:nth-child(4){
    position: absolute;
    overflow: hidden;
    top: -54px;
}
#f3HeadlineboxA{
    text-align: center;
    width: 100%;
    left: 0px;
    top: 14px;
    color: #F3EDE0;
}
#f3HeadlineboxB{
    text-align: center;
    width: 100%;
    left: 0px;
    top: 58px;
    color: #F3EDE0;
}
#f4Headlinebox{
    position: absolute;
    width: 250px;
}

#f3HeadlineboxA .headline{
    color: white;
    font-size: 50px;
    letter-spacing: 0.01em;
    color: #F3EDE0;
}
#f3HeadlineboxB .headline{
    color: white;
    font-size: 50px;
    letter-spacing: 0.01em;
    line-height: 0.86em;
    color: #F3EDE0;
}
#f4Headlinebox .headline{
    color: white;
    font-size: 30px;
    line-height: 0.9em;
}
#f4HeadlineText .splitted-container:nth-child(4){
    margin-top: 2px;
}

/* ------------ TEMPLATE CSS ------------ */

#main{
    position: absolute;
    width: 300px;
    height: 250px;
    overflow: hidden;
    opacity: 0;
    will-change: transform;
    perspective: 1920px;
}
#flexBox{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.cta-container{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100px;
    bottom: 54px;
    left: 172px;
}

.cta-mask {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: row;
    width: 107px;
}

.cta-text {
    position: relative;
    font-family: 'VerizonNHGeDSBold';
    font-size: 16px;
    color: #F50A23;
    white-space: nowrap;
    margin-right: 0.5em;
}

.cta-rel{
    position: relative;
    display: flex;
    width: 9px;
}

.cta-abs{
    position: absolute;
    display: block;
    top: 4px;
    right: 0;
    width: 9px;
    height: auto;
/*    background-color: #F50A23;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.cta-cover {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
/*    background-color: #F50A23;*/
}

.arrow-cover{
    position: relative;
    width: 7px;
    height: auto;
}
.arrow-fill{
    fill: #F50A23;
}

.black {
    color: #000000;
}
 
.red {
    color: #F50A23;
}
 
.blush {
    color: #FF8C6C;
}
 
.coral {
    color: #FF3C2D;
}
 
.stone {
    color: #F3EDE0 !important;
}
 
.yellow {
    color: #F5FF1E;
}

.white {
    color: #FFFFFF !important;
}  

.exit-click {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner-exit{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #D8DADA;
    background-color: transparent;
    cursor: pointer;
}

/* ------------ Tooltip Properties ------------ */

.hotspot {
    position: absolute;
    background: transparent; /* Red semi-transparent background for visibility */
    cursor: pointer;
    z-index: 2;
}

.arrowTip-container{
    position: absolute;
    opacity: 0;
}

.tooltip-arrow{
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 5px;
    z-index: 3;
}
.tooltip-container{
    position: absolute;
    width: 146px;
    height: 79px;
    border: solid 0.5px #000;
    background: white;
    opacity: 0;
    overflow: hidden;
    padding: 12px 25px 10px 14px;
    z-index: 1;
    left: 8px !important;
}

.disclaimer {
    font-family: VerizonNHGeDSRegular;
    font-size: 8px;
    line-height: 1.125em;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
    display: none;
}

.scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 44px;
    top: 23px;
    right: 11px;
    background: rgb(246, 246, 246);
}

.close-btn{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 9px;
    right: 10px;
    cursor: pointer;
}

.xclose {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scroll-thumb {
    position: relative;
    width: 100%;
    background: rgb(218, 216, 216);
    cursor: pointer;
}

/* ------------ Override for Logos* ------------ */

.logo-container {
    position: absolute;
    display: flex;
    min-width: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 30;
}

.logo-mask{
    position: relative;
    width: 81px;
    left: 10px;
}



#BusinessLogo{
    width: 52px;
    height: 11px;
    top: -3px;
    position: relative;
}
#logoMask, #businessMask, #vMask{
    display: block;
    overflow: hidden;
}
#vMask{
    position: absolute;
    height: 0px;
    width: 100%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
#VLogo{
    position: relative;
    width: 30px;
    height: 27px;
    top: 0px;
}
#VBox {
    position: relative;
    width: 30px;
    height: 27px;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
#businessMask{
    position: absolute;
    left: 29px;
    top: 18px;
    height: 0px;
    overflow: hidden;
}
/*Override for Logos end here*/

#tooltipContainer {
    display: none !important;
}

#bannerExit {
    z-index: 7 !important;
}