*{margin: 0;padding: 0;}
#container,#container div{position: absolute;}
#container{cursor:pointer;width: 300px; height: 250px;pointer-events: none;border:1px black solid;box-sizing: border-box;display:none;overflow:hidden;background-color: black;}
#bg{width: 100%;height: 100%;background-color:#000000;pointer-events: auto;}
#bg img {top: -1px;left: -1px;}

img{position: absolute;}

.sprite { background: url('sprite.png') no-repeat top left; width: 109px; height: 21px;  } 
.sprite.ep-cta-button_hover { background-position: 0 0; width: 206px; height: 36px; } 
.sprite.ep-cta-button { background-position: 0 -46px; width: 206px; height: 36px; } 
.sprite.ep-get-ticket_hover { background-position: 0 -92px; width: 124px; height: 17px; } 
.sprite.ep-get-ticket { background-position: 0 -119px; width: 124px; height: 17px; } 
.sprite.ep-in-theatre-april6 { background-position: 0 -146px; width: 167px; } 
.sprite.ep-now-playing { background-position: 0 -177px; } 
.sprite.ep-title { background-position: 0 -208px; width: 268px; height: 40px; } 
.sprite.ep-watch-trailer_hover { background-position: 0 -258px; width: 137px; height: 17px; } 
.sprite.ep-watch-trailer { background-position: 0 -285px; width: 137px; height: 17px; } 
.sprite.replay { background-position: 0 -312px; width: 19px; height: 19px; } 
.sprite.ep-in-theatre-friday { background-position: 0 -341px; width: 163px; } 
.sprite.ep-in-theatre-tonight { background-position: 0 -372px; width: 174px; } 
.sprite.sound-off { background-position: 0 -403px; width: 26px; height: 19px; } 
.sprite.sound-on { background-position: 0 -432px; width: 18px; height: 14px; } 
.sprite.vp-in-theatre-friday { background-position: 0 -456px; width: 130px; height: 18px; } 
.sprite.vp-in-theatre-april6 { background-position: 0 -484px; width: 133px; height: 18px; } 
.sprite.vp-in-theatre-tonight { background-position: 0 -512px; width: 138px; height: 18px; } 
.sprite.vp-now-playing { background-position: 0 -540px; } 
.sprite.vp-title { background-position: 0 -571px; width: 269px; height: 39px; } 

/*Video Plate*/
.sprite.vp-in-theatre-april6 {bottom: 10px;left: 83px;} 
.sprite.vp-in-theatre-friday {bottom: 10px;left: 85px;} 
.sprite.vp-in-theatre-tonight {bottom: 10px;left: 81px;} 
.sprite.vp-now-playing {bottom: 10px;left: 105px;} 
.sprite.vp-title {bottom: 25px;left: 15px;} 
.sprite.sound-on {top: 2px;left: 2px;} 
.sprite.ep-emily {top: 10px;left: 28px;} 
.sprite.ep-get-ticket, .sprite.ep-get-ticket_hover {top: 9px;left: 45px;} 
.sprite.ep-in-theatre-april6 {bottom: 44px;left: 70px;} 
.sprite.ep-in-theatre-friday {bottom: 44px;left: 73px;} 
.sprite.ep-in-theatre-tonight {bottom: 44px;left: 67px;} 
.sprite.ep-john {top: 10px;left: 154px;} 
.sprite.ep-now-playing {bottom: 44px;left: 100px;} 
.sprite.ep-title {top: 139px;left: 15px;} 
.sprite.ep-watch-trailer, .sprite.ep-watch-trailer_hover {top: 9px;left: 38px;} 
#frame1, #frame2{
	width: 100%;
	height: 100%;
}
.character {
    left: -1px;
    top: -1px;
}
#video_holder{
	width: 300px;
	height: 173px;
	top:0;
	left:0;
	background-color:#000;
}
.btn_sound{
	top: 7px;
	left: 7px;
	width: 26px;
	height:20px;
	pointer-events:auto;
}
.btn_replay{
	pointer-events:auto;
	left: 274px;
	top: 5px;
	width: 19px;
	height: 19px;
}
#black{
	width:100%;
	height:100%;
	background-color:#000;
}
#footer{
	background-color:#000000;
	width: 100%;
	height: 75px;
	bottom:0;
}
.cta {
	top: 207px;
	left: 47px;
	clip:rect(0px 206px 36px 0px);
}
#glitch_1{
	top: 0px;
	left: 0px;
}
/*Sequence Animation*/
/*.sequence {
  width: 300px;
  height:250px;
  overflow:hidden;
  left: -1px;
  top: -1px;
}*/
