@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'VerizonNHGDSBold';
  src: url('../fonts/VerizonNHGDS-Bold.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGeDSRegular';
  src: url('../fonts/VerizonNHGeDS-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGeDSBold';
  src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*    -webkit-backface-visibility: hidden;*/
  /* Safari */
  /*    backface-visibility: hidden;*/
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --ad-width: 0;
  --ad-height: 0;
  --cta-arrow-width: 9px;
  --headline-font: 34px;
}
/* ------------ Generic ----------- */
.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #EE001E;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */
#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------ Images ----------- */
.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ------------ Text fields ----------- */
.heading,
.eyebrow {
  position: relative;
  font-family: 'VerizonNHGDSBold';
  color: #FFFFFF;
}
b {
  font-family: VerizonNHGeDSBold;
  font-weight: 400;
}
.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
}

/* Tooltip Properties */
.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0.35px;
  left: 0;
  width: 9px;
  height: 6px;
  z-index: 3;
}
.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 1;
}

.disclaimer {
  font-family: VerizonNHGeDSRegular;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*COLORS*/
.red,
red,
span.red {
  color: #EE001E;
}
.coral,
coral {
  color: #FF281E;
}
.yellow,
yellow {
  color: #F8FF3C;
}
.stone,
stone {
  color: #F6F0E2;
}
.white,
white {
  color: #FFFFFF;
}
.black,
black {
  color: #000000;
}

/*Footer*/
.footer-container,
.lockup-container {
  position: relative;
  display: flex;
  width: 100%;
}
.footer-container {
  max-height: 77px;
}
.lockup-container {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.legal-container {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}
/* .logo-container,
.cta-container{ */
/* display: flex; */
/* } */
.sublegal {
  font-family: 'VerizonNHGeDSRegular';
  font-size: 8px;
  color: #fff;
}
.cta-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}
.cta-mask {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row;
}
.cta-mask-arrow {
  position: absolute;
  width: 87px;
}
.cta-text {
  position: relative;
  white-space: nowrap;
  /*  padding-right: calc(var(--cta-arrow-width));*/
}
cta-abs {
  position: absolute;
  display: block;
  min-width: 9px;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#ctaArrow {
  opacity: 1;
  top: 3px;
  position: relative;
}

/*CUSTOMIZABLE*/
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#endframe {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading,
.subheading,
.eyebrow {
  font-family: VerizonNHGeDSBold;
}
.logo,
.arrow-fill {
  fill: #FFFFFF;
}
.heading {
  font-size: 32px;
  line-height: 91%;
  text-align: center;
}
.subheading {
  font-size: 16px;
  margin-top: 15px;
}
.eyebrow {
  margin-bottom: 10px;
  font-size: 12px;
}
#logoTop {
  width: 82px;
  height: 19px;
  top: 0px;
  left: 0px;
  position: relative;
  overflow: hidden;
  will-change: transform;
}

#logoBottom {
  width: 83px;
  height: 11px;
  position: relative;
  top: 1px;
  left: -1px;
  will-change: transform;
}

#logoBottomMask {
  height: 11px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  will-change: transform;
}
#arrowOnly {
  position: absolute;
  bottom: -5px;
  right: -1px;
}

#legalContainerInner .sublegal {
  text-align: right;
  position: absolute;
  top: 2px;
}
#legalContainerWide.legal-container {
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
#legalContainerWide.legal-container:not(:empty) {
  margin-bottom: 0px;
  top: -19px;
}
.legal-container.legal-inner {
  margin-top: 0px;
}
.disclaimer {
  color: #000;
}
.cta-mask {
  width: 53% !important;
  right: 5px;
  top: 1px;
}

/* ---------------- HEADINGS ---------------- */
/* H1 */
#h1Heading .splitted-lines1 {
  font-size: 60px;
  left: -60px;
  top: 15px;
}
#h1Heading .splitted-lines2 {
  font-size: 30px;
  top: 16px;
  left: 21px;
  letter-spacing: 0px;
}

#h1Heading {
  line-height: 1.4em;
  letter-spacing: -0.01em;
}

/* H2 */
#h2Heading .splitted-lines1 {
  font-size: 60px;
  left: -35px;
  top: 15px;
}
#h2Heading .splitted-lines2 {
  font-size: 30px;
  top: 15px;
  left: 39px;
  letter-spacing: 0px;
}
#h2Heading {
  line-height: 1.4em;
  letter-spacing: -0.01em;
}
/* H3 */
#h3Heading .splitted-lines1 {
  font-size: 30px;
  left: 1px;
  top: 16px;
}
#h3Heading .splitted-lines2 {
  font-size: 60px;
  top: 3px;
  left: 1px;
  will-change: transform;
}
#h3Heading {
  line-height: 1.4em;
  letter-spacing: 0.25px;
}
/* H4 */
#h4Heading .splitted-lines1 {
  font-size: 30px;
  left: 3px;
  top: 13px;
}
#h4Heading .splitted-lines2 {
  font-size: 60px;
  top: 6px;
  left: 0px;
}
#h4Heading {
  line-height: 1.4em;
  letter-spacing: 0px;
}
/* H5 */
#h5Heading {
  font-size: 36px;
  top: 15px;
  line-height: 89%;
}
/* EF */
#endFrameEyebrow {
  font-size: 32px;
  left: -5px;
  line-height: 34px;
  top: 4px;
  text-align: left;
}
#endFrameHeading {
  font-size: 32px;
  left: -39px;
  line-height: 34px;
  top: -6px;
  text-align: left;
}
#endFrameHeading .splitted-lines {
  text-align: left !important;
}
/* #endFrameEyebrow, #endFrameHeading { } */
#endframe {
  line-height: 2em;
  letter-spacing: 0em;
}

/* OTHERS */
#arrowPatternFrame,
.arrow-rect {
  position: absolute;
  will-change: transform;
}
.arrow-rect {
  left: -32px;
  will-change: transform;
}
#f1ArrowContainer {
  top: -71px;
}
#f1ArrowRect1,
#f5ArrowRect1 {
  top: 0px;
}
#f1ArrowRect2,
#f5ArrowRect2 {
  top: 71px;
}
#f1ArrowRect3,
#f5ArrowRect3 {
  top: 143px;
}
#f1ArrowRect4,
#f5ArrowRect4 {
  top: 223px;
}
#f1ArrowRect5,
#f5ArrowRect5 {
  top: 303px;
}
#f1ArrowRect6,
#f5ArrowRect6 {
  top: 383px;
}
#f1ArrowRect7 {
  top: 463px;
}
#f1ArrowRect8 {
  top: 543px;
}

#f5ArrowContainer {
  transform: rotate(90deg);
}
#f5ArrowContainer .arrow-rect {
  left: -26px;
}

#logoContainer {
  width: 41%;
  height: 103%;
}

body {
  width: 300px;
  height: 250px;
}
