@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'VerizonNHGeDSRegular';
  src: url('../fonts/VerizonNHGeDS-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGeDSBold';
  src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
}

/* ------------ Generic ----------- */

.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  /* will-change: transform; */
  perspective: 1000px;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-container {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 77px;
}

.media-frame {
  display: flex;
  width: 280px;
  height: 230px;
  overflow: hidden;
}

.lockup-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.legal-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  opacity: 0;
  visibility: hidden;
}

.logo-container {
  position: relative;
  display: flex;
  min-width: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.logo-mask {
  position: relative;
  width: 81px;
}

.cta-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
}

.cta-mask {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: row;
  width: 109px;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #F50A23;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */

#deviceFrame,
#imgFrame {
  opacity: 0;
  visibility: hidden;
  top: 0;
}

#patternCont {
  top: -6px;
  left: -42px;
}

#patternCont div {
  overflow: hidden;
}

#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 15px 3px;
}

#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform-style: preserve-3d;
  /*do not remove (fix for scaling live texts on Safari) */
}

#h1Heading,
#h8Heading {
  margin: -1px 0 0px 0px;
  color: #F3EDE0;
}

#heading2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

#legalCont {
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

#frame-logo {
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 970px;
  flex-direction: column;
}

/* ------------ Images ----------- */

.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lifestyle-frame,
.device-frame {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
}

.logo {
  width: 81px;
  height: auto;
}

.arrow-fill {
  fill: #fff;
}

.logo-color {
  fill: #F50A23;
}

/* ------------ Text fields ----------- */

.eyebrow {
  position: relative;
  font-family: VerizonNHGeDSBold;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 0.9em;
  text-align: center;
  margin: 48px 0 0 0;
}

.hollow {
  position: absolute;
  font-family: VerizonNHGeDSRegular;
  letter-spacing: 0px;
  font-size: 80px;
  line-height: 230px;
  text-align: center;
}

.hollow2 {
  position: absolute;
  font-family: VerizonNHGeDSRegular;
  color: #F50A23;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 0px;
  font-size: 80px;
  text-align: center;
}

.heading {
  position: relative;
  font-family: 'VerizonNHGeDSRegular';
  color: #F50A23;
  font-size: 39px;
  text-align: center;
  /* will-change: transform; */
  perspective: 1000px;
  text-rendering: auto;
}

#h1HollowTxtIn,
#h8HollowTxtIn {
  line-height: 62px;
  top: 78px;
  color: #F50A23;
  -webkit-text-stroke-color: #F3EDE0;
  -webkit-text-stroke-width: 1px;
  /* will-change: transform; */
  perspective: 1000px;
}

#h1HollowTxtOut,
#h8HollowTxtOut {
  line-height: 160px;
  top: -36px;
  z-index: 2;
  color: #F3EDE0;
  -webkit-text-stroke-color: #F50A23;
  -webkit-text-stroke-width: 1px;
  /* will-change: transform; */
  perspective: 1000px;
}

#heading1 .hollow {
  left: 65px;
}

#heading6 .hollow2 {
  top: -121px;
  left: -33px;
  letter-spacing: -3px;
  font-size: 159px;
}

#h1HollowTxtIn .splitted-container {
  line-height: 50px;
}

#h1HollowTxtOut .splitted-container {
  line-height: 160px;
}

#h8HollowTxtIn .splitted-container {
  line-height: 50px;
}

#h8HollowTxtOut .splitted-container {
  line-height: 165px;
}

#h8HollowTxtOut .splitted-container:nth-child(2) {
  overflow: hidden;
}

#h8HollowTxtIn,
#h8HollowTxtOut {
  font-size: 96px;
  top: 71px;
}

#h8HollowTxtOut {
  top: -41px;
  left: 57px;
}

#heading6 .hollow2 .splitted-container {
  line-height: 1.6em;
}

#heading6 .hollow2 .splitted-container:nth-child(2) {
  top: -10px;
  left: -0.5px;
}

#h2Heading.heading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #F3EDE0;
  font-size: 28px;
  text-align: center;
  margin: -3px 0 0 1px;
}

#h2Pendulum {
  top: -1px;
}

#h3Heading.heading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #F3EDE0;
  font-size: 48px;
  text-align: center;
  margin: 0 0 0 2px;
  top: -1px;
}

#h4Heading.heading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #000;
  font-size: 420px;
  text-align: center;
  margin: -4px -1px 0 0;
  z-index: 2;
  /* transition: opacity 0.1s; */
}

#h4Pendulum,
#h5Pendulum,
#h6Pendulum {
  top: -1px;
}

#h5Heading.heading {
  position: absolute;
  font-family: VerizonNHGeDSRegular;
  color: #EE0000;
  font-size: 96px;
  text-align: center;
  top: 67px;
  /* will-change: transform; */
}

#h5Heading2.heading {
  position: absolute;
  font-family: VerizonNHGeDSRegular;
  color: #000000;
  font-size: 96px;
  text-align: center;
  top: 195px;
  /* will-change: transform; */
}

#h6Heading.heading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #000000;
  font-size: 36px;
  text-align: left;
  margin: 0 3px 3px 0px;
}

#h6Heading.heading .splitted-container:nth-child(1) {
  color: #EE0000;
}

#h7Heading.heading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #000;
  font-size: 36px;
  text-align: center;
  margin: -2px 0 0px 0;
}

#h8Heading {
  font-size: 185px;
  margin: -37px 1px 0 0px;
}

#h9Heading.heading {
  position: relative;
  font-family: 'VerizonNHGeDSRegular';
  color: #F50A23;
  font-size: 28px;
  text-align: center;
  margin: -56px 0 0 0;
}

#h9SubHead {
  font-family: 'VerizonNHGeDSRegular';
  color: #000000;
  margin-top: 10px;
  line-height: 1.1em;
}

.subheading {
  position: relative;
  font-family: VerizonNHGeDSBold;
  color: #FFFFFF;
  font-size: 8px;
  line-height: 1em;
  text-align: center;
  margin-top: 27px;
}

.legal-subheading {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 1em;
  text-align: center;
}

.splitted-container {
  position: relative;
  line-height: 1em;
  margin-bottom: 0px;
  /* will-change: transform; */
  perspective: 1000px;
}

#h2Heading .splitted-container {
  position: relative;
  line-height: 1.2em;
  margin-bottom: -17px;
}

#h2Heading .splitted-container div {
  /* will-change: transform; */
}

.legal {
  position: relative;
  font-family: VerizonNHGeDSRegular;
  color: #fff;
  font-size: 8px;
  line-height: 1em;
  text-align: left;
}

.legal-frame {
  position: relative;
  display: none;
  font-family: VerizonNHGeDSRegular;
  color: #fff;
  font-size: 8px;
  line-height: 1em;
  text-align: center;
}

black {
  color: #000000;
}

red {
  color: #F50A23;
}

blush {
  color: #FF8C6C;
}

coral {
  color: #FF3C2D;
}

stone {
  color: #F3EDE0;
}

yellow {
  color: #F5FF1E;
}

white {
  color: #FFFFFF;
}

.copy-reg {
  font-family: VerizonNHGeDSRegular;
  font-weight: 400;
}

b {
  font-family: VerizonNHGeDSBold;
  font-weight: 400;
}

.cta-text {
  position: relative;
  font-family: 'VerizonNHGeDSBold';
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  margin-right: 0.5em;
}

.cta-rel {
  position: relative;
  display: flex;
  width: 9px;
}

.cta-abs {
  position: absolute;
  display: block;
  top: 4px;
  right: 0;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cta-cover {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background-color: #F3EDE0;
}

.arrow-cover {
  position: relative;
  width: 8px;
  height: 15px;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
}

/* Tooltip Properties */

.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 5px;
  z-index: 3;
}

.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 1;
}

.disclaimer {
  font-family: VerizonNHGeDSRegular;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*Override for Logos*/

#businessLogo {
  position: relative;
  width: 52px;
  height: auto;
}

#logoMask,
#businessMask,
#vMask {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

#vMask {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.v-logo {
  position: relative;
  width: 30px;
  height: auto;
}

#vBox {
  position: relative;
  width: 30px;
  height: 27px;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

#businessMask {
  position: absolute;
  left: 29px;
  top: 18px;
  height: 0px;
  overflow: hidden;
}

#ctaArrow {
  opacity: 0;
}

/*Override for Logos end here*/

#h2BigCirc {
  position: absolute;
  height: 191px;
  width: 191px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  top: 30px;
  left: 54px;
}

#circSVG {
  position: absolute;
  height: 191px;
  width: 191px;
  top: 30px;
  left: 54px;
  rotate: 90deg;
  /* will-change: transform; */
  perspective: 1000px;
}

#h3BigCirc {
  position: absolute;
  height: 191px;
  width: 191px;
  background-color: transparent;
  border: 1px solid #F3EDE0;
  border-radius: 50%;
  top: 30px;
  left: 54px;
}

#h4BigCirc {
  position: absolute;
  height: 191px;
  width: 191px;
  background-color: #F3EDE0;
  border: 1px solid #F3EDE0;
  border-radius: 50%;
  top: 30px;
  left: 54px;
}

#h3BigCircIn {
  position: absolute;
  height: 225px;
  width: 225px;
  background-color: transparent;
  border: 1px solid #F5FF1E;
  border-radius: 50%;
  top: 10px;
  left: 38px;
  scale: 0.89;
}

#h1BigCircIn,
#h8BigCircIn {
  position: absolute;
  height: 210px;
  width: 210px;
  background-color: transparent;
  border: 0px solid #F5FF1E;
  border-radius: 50%;
  top: 21px;
  left: 45px;
  scale: 0.9155;
}

#h1BigCircMask,
#h8BigCircMask {
  position: absolute;
  height: 207px;
  width: 207px;
  background-color: transparent;
  border: 0px solid #000;
  border-radius: 50%;
  top: 22px;
  left: 46px;
  box-shadow: 0px 0px 0px 6000px #F3EDE0;
  scale: 0.9155;
  /* will-change: transform; */
}

#h3BigCircMask {
  position: absolute;
  height: 225px;
  width: 225px;
  background-color: transparent;
  border: 0px solid #000;
  border-radius: 50%;
  top: 13px;
  left: 38px;
  box-shadow: 0px 0px 0px 44px rgb(0, 0, 0);
  scale: 0.89;
}

#h3BigCircOut {
  position: absolute;
  height: 325px;
  width: 325px;
  background-color: transparent;
  border: 1px solid #F5FF1E;
  border-radius: 50%;
  top: -39px;
  left: -12px;
  scale: 0.89;
}

#h8BigCircOut {
  position: absolute;
  height: 325px;
  width: 325px;
  background-color: transparent;
  border: 1px solid #F5FF1E;
  border-radius: 50%;
  top: -39px;
  left: -12px;
  scale: 0.9155;
}

#h3BigCircOuter {
  position: absolute;
  height: 420px;
  width: 420px;
  background-color: transparent;
  border: 1px solid #F5FF1E;
  border-radius: 50%;
  top: -85px;
  left: -60px;
  scale: 0.89;
}

#h4PenCircL {
  position: absolute;
  top: 121px;
  left: 43px;
  border: 1px solid #F5FF1E;
}

#h4PenLineL {
  position: absolute;
  top: 125px;
  left: -98px;
  width: 142px;
  background-color: #F5FF1E;
}

#h4PenCircR {
  position: absolute;
  top: 121px;
  right: 43px;
  border: 1px solid #F5FF1E;
}

#h4PenLineR {
  position: absolute;
  top: 125px;
  right: -98px;
  width: 142px;
  background-color: #F5FF1E;
}

#heading9 {
  margin-top: 27px;
}

#logoMask {
  display: none;
}

#ctaMask {
  opacity: 0;
}

#ctaArrowOnly {
  opacity: 0;
  position: relative;
  top: 5px;
}

#businessLogo {
  width: 165px;
  height: 31px;
  overflow: hidden;
}

#LogoMask1A,
#LogoMask1B {
  width: inherit;
  height: 19px;
  overflow: hidden;
  top: 0px;
}

#LogoMask1A {
  opacity: 0;
  position: relative;
  right: -84px;
}

#LogoMask2A,
#LogoMask2B {
  width: inherit;
  height: 14px;
  overflow: hidden;
  bottom: -2px;
  position: absolute;
  left: 28px;
}

#BottomLogoA {
  bottom: 2px;
  position: relative;
  height: 0px;
  overflow: hidden;
}

#h3BigCircOut:before,
#h8BigCircOut:before {
  content: "";
  display: flex;
  width: 60px;
  height: 1px;
  background: #F5FF1E;
  position: absolute;
  left: -10px;
  top: 50.2%;
  z-index: 1;
}

#h3BigCircOut:after,
#h8BigCircOut:after {
  content: "";
  display: flex;
  width: 60px;
  height: 1px;
  background: #F5FF1E;
  position: absolute;
  right: -10px;
  top: 50.2%;
  z-index: 1;
}

/* PENDULUM ------------------------------------------------ */

.pendulum {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.pendulumCirc {
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: transparent;
  border-radius: 50%;
}

.pendulumLine {
  position: absolute;
  height: 1px;
}

#h6PenCircL,
#h7PenCircL,
#h8PenCircL {
  position: absolute;
  top: 121px;
  left: 145px;
  border: 1px solid #F50A23;
  background-color: #F50A23;
}

#h6PenLineL,
#h7PenLineL,
#h8PenLineL {
  position: absolute;
  top: 125px;
  left: -2px;
  width: 150px;
  background-color: #F50A23;
  /* will-change: transform; */
}

#h8PenCircL {
  display: none;
}

#h8PenLineL {
  left: 0px;
}

body {
  width: 300px;
  height: 250px;
}

body {
  width: 300px;
  height: 250px;
}