 @charset "UTF-8";
 html,
 body,
 div,
 span,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 abbr,
 address,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 samp,
 small,
 strong,
 sub,
 sup,
 var,
 b,
 i,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section,
 summary,
 time,
 mark,
 audio,
 video {
   margin: 0px;
   padding: 0px;
   border: 0px;
   outline: 0px;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
 }

 * {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
 }
 html,
 body {
   position: absolute;
   border: 0 none;
   outline: 0;
   padding: 0;
   margin: 0;
   background: #FFFFFF;
   width: 100%;
   height: 100%;
   /* below improves consistancey of font rendering across browsers */
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
   /* below stops FireFox rendering copy too heavily */
   -moz-osx-font-smoothing: grayscale;
 }
 :root {
   --ad-width: 0;
   --ad-height: 0;
   --cta-arrow-width: 9px;
   --headline-font: 34px;
 }
 /* ------------ Generic ----------- */
 .frame {
   position: absolute;
   display: flex;
   width: 100%;
   height: 100%;
 }
 .heading-container {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
 }
 #main {
   position: absolute;
   left: 0px;
   top: 0px;
   width: var(--ad-width);
   height: var(--ad-height);
   background-color: #000;
   overflow: hidden;
   visibility: hidden;
 }
 /* ------------ DOM ----------- */
 #headingFrame {
   align-items: center;
   justify-content: flex-end;
   flex-direction: column;
   padding: 0 0 0 0;
 }
 #headingContainer {
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 #footerContainer {
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 /* ------------ Images ----------- */
 .media-content {
   position: absolute;
   width: 100%;
   height: 100%;
 }
 /* ------------ Text fields ----------- */
 #main,
 .heading,
 .eyebrow,
 .sublegal {
   position: relative;
   font-family: "Open Sans";
   color: #ffffff;
 }
 .exit-click {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   z-index: 7;
 }
 .banner-exit {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   border: 1px solid #D8DADA;
   background-color: transparent;
   cursor: pointer;
 }
 #disclaimerContent {
   opacity: 0;
   width: 100%;
   height: 100%;
   background: #000;
   position: absolute;
   z-index: 7;
   padding: 60px 40px 0 20px;
   color: #FFF;
   font-size: 11px;
   letter-spacing: -0.04em;
   font-family: "Open Sans";
   text-align: left;
   display: flex;
   align-items: flex-start;
   justify-content: center;
 }
 #disclaimer {
   /* display: flex; */
   font-family: "Open Sans";
   text-align: left;
   font-weight: 500;
 }
 #disclaimerBtn {
   position: absolute;
   left: 19px;
   bottom: 4.5px;
   cursor: pointer;
   z-index: 8;
 }
 .disclaimer-text {
   position: relative;
   font-family: "Open Sans";
   font-weight: 500;
   font-size: 8px;
   color: #FFFFFF;
   white-space: nowrap;
   letter-spacing: -0.04em;
 }
 .disclaimer-text:hover {
   text-decoration: underline;
 }
 .close-button {
   position: absolute;
   top: 20px;
   right: 20px;
   z-index: 8;
   cursor: pointer;
 }
 .xclose {
   position: absolute;
   width: 100%;
   height: 100%;
 }
 /*COLORS*/
 .red,
 red {
   color: #EE001E;
 }
 .coral,
 coral {
   color: #FF281E;
 }
 .yellow,
 yellow {
   color: #F8FF3C;
 }
 .stone,
 stone {
   color: #F6F0E2;
 }
 .white,
 white {
   color: #FFFFFF;
 }
 .black,
 black {
   color: #000000;
 }
 green {
   color: #CCFF33;
 }
 /*Footer*/
 .footer-container,
 .lockup-container {
   position: relative;
   display: flex;
   width: 100%;
 }
 .footer-container {
   max-height: 77px;
 }
 .lockup-container {
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: row;
 }
 .logo-container,
 .cta-container {
   display: flex;
 }
 /*CUSTOMIZABLE*/
 #heading1,
 #heading2,
 #heading3,
 #heading4,
 #heading5,
 #heading6,
 #heading7,
 #heading8,
 #heading9,
 #endframe {
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
 }
 #heading1 {
   padding: 15px 0 0 37px;
 }
 #endframe {
   padding: 15px 0 0 35px;
 }
 .heading,
 .cta-text,
 .eyebrow {
   font-family: "Open Sans";
   font-weight: 700;
 }
 .heading {
   font-size: 26px;
   line-height: 117%;
   text-align: left;
   letter-spacing: -0.04em;
 }
 .subheading {
   font-family: "Open Sans";
   font-weight: 500;
   font-size: 12px;
   margin-top: 4px;
   margin-left: 1px;
   letter-spacing: -0.04em;
 }
 .eyebrow {
   margin-bottom: 10px;
   font-size: 12px;
 }
 #endFrameHeading {
   font-size: 23px;
   left: 2px;
   top: 2.5px;
   line-height: 121%;
 }
 #endFrameSubHead {
   margin-top: 9px;
   margin-left: 3px;
 }
 .cta-text {
   font-size: 10px;
   width: 72px;
   letter-spacing: -0.02em;
 }
 .disclaimer {
   color: #000;
 }
 #deviceFrame {
   opacity: 0;
   visibility: visible;
   text-align: center;
   clip-path: polygon(100% 64.4%, 0% 64.4%, 0% 0%, 100% 0%, 100% 64.4%);
   will-change: transform;
 }
 #deviceFrame img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 300px;
   height: auto;
   will-change: transform;
 }
 #stripes {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
 }
 .stripes-thin-rect {
   position: absolute;
   width: 420px;
   height: 20px;
   background-color: transparent;
 }
 .patternLine {
   position: absolute;
   width: 420px;
   height: 4px;
   transform: rotate(-36deg);
   top: 100px;
 }
 .patternLine:nth-child(1) {
   left: 200px;
 }
 .patternLine:nth-child(2) {
   left: 150px;
 }
 .patternLine:nth-child(3) {
   left: 100px;
 }
 .patternLine:nth-child(4) {
   left: 50px;
 }
 .patternLine:nth-child(5) {
   left: 0px;
 }
 .patternLine:nth-child(6) {
   left: -50px;
 }
 .patternLine:nth-child(7) {
   left: -100px;
 }
 .patternLine:nth-child(8) {
   left: -150px;
 }
 .patternLine:nth-child(9) {
   left: -200px;
 }
 .patternLine:nth-child(10) {
   left: -250px;
 }
 .patternLine:nth-child(11) {
   left: -300px;
 }
 .patternLine:nth-child(12) {
   left: -350px;
 }
 .patternLine:nth-child(13) {
   left: -400px;
 }
 .patternLine:nth-child(14) {
   left: -450px;
 }
 .patternLine:nth-child(15) {
   left: -500px;
 }
 .patternLine:nth-child(16) {
   left: -550px;
 }
 .patternLine:nth-child(17) {
   left: -600px;
 }
 .patternLine:nth-child(18) {
   left: -600px;
 }
 .patternLine:nth-child(19) {
   left: -700px;
 }
 .patternLine:nth-child(20) {
   left: -750px;
 }
 .patternLine:nth-child(21) {
   left: -800px;
 }
 .patternLine:nth-child(22) {
   left: -850px;
 }
 .patternLine:nth-child(23) {
   left: -900px;
 }
 .patternLine:nth-child(24) {
   left: -950px;
 }
 .patternLine:nth-child(25) {
   left: -1000px;
 }
 .patternLine:nth-child(26) {
   left: -1050px;
 }
 .patternLine:nth-child(27) {
   left: -1100px;
 }
 #footerCover {
   background-color: #000;
   position: absolute;
   bottom: -40px;
   width: 130%;
   height: 86px;
 }
 #bubble {
   position: absolute;
   top: 19px;
   left: 19px;
 }
 .cta-container {
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100px;
 }
 #ctaBox {
   position: absolute;
   width: auto;
   padding: 5px 1px 5px 17px;
   left: 6px;
   bottom: 4px;
   background-color: #CCFF33;
   border-radius: 99em;
   overflow: hidden;
 }
 #ctaText {
   color: #000000;
 }
 #main:hover #ctaBox {
   background-color: #FFFFFF;
 }
 #logoFrame {
   z-index: 4;
 }
 .splitted-container {
   will-change: transform;
 }
 body {
   width: 300px;
   height: 250px;
 }
