@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* @font-face {
    font-family: 'VerizonNHGDSRegular';
    src: url('../fonts/VerizonNHGDS-Regular.woff2') format('woff2');
    font-weight: normal;
} */

/* @font-face {
    font-family: 'VerizonNHGDSLight';
    src: url('../fonts/VerizonNHGDS-Light.woff2') format('woff2');
    font-weight: normal;
} */

@font-face {
  font-family: 'VerizonNHGeDSBold';
  src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*    -webkit-backface-visibility: hidden;*/
  /* Safari */
  /*    backface-visibility: hidden;*/
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
  --cta-arrow-width: 9px;
  --headline-font: 34px;
}

/* ------------ Generic ----------- */
.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #EE001E;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */
#headingFrame {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------ Images ----------- */
.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ------------ Text fields ----------- */
#main,
.heading,
.eyebrow,
.sublegal {
  position: relative;
  font-family: 'VerizonNHGeDSBold';
  color: #fff;
}

b {
  /* font-family: VerizonNHGeDSBold; */
  font-weight: 400;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #D8DADA;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

/* Tooltip Properties */
.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0.35px;
  left: 0;
  width: 9px;
  height: 6px;
  z-index: 3;
}

.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 1;
}

.disclaimer {
  font-family: VerizonNHGeDSBold;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*COLORS*/
.red,
red {
  color: #EE001E;
}

.vzn_red_svg {
  fill: #EE001E;
}

/* .coral, coral{
    color: #FF281E;
} */
.yellow,
yellow {
  color: #F8FF3C;
}

.stone,
stone {
  color: #F8F3E9;
}

.white,
white {
  color: #FFFFFF;
}

.black,
black {
  color: #000000;
}

#ctaWithText {
  width: 86px;
}

/*Footer*/
.footer-container,
.lockup-container {
  position: relative;
  display: flex;
  width: 100%;
}

.footer-container {
  max-height: 77px;
}

.lockup-container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.legal-container {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

.sublegal {
  font-size: 8px;
  color: #000000;
}

.cta-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.cta-mask {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row;
}

.cta-mask-arrow {
  position: absolute;
  width: 87px;
}

.cta-text {
  position: relative;
  white-space: nowrap;
  /*  padding-right: calc(var(--cta-arrow-width));*/
}

cta-abs {
  position: absolute;
  display: block;
  min-width: 9px;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ctaArrow {
  opacity: 1;
  top: 1.8px;
  position: relative;
}
#logoContainer {
  width: 41%;
  height: 103%;
  padding-left: 15px;
}
.logo,
.arrow-fill {
  fill: #FFFFFF;
}

#logoTop {
  width: 82px;
  height: 19px;
  top: -0.5px;
  left: 0px;
  position: relative;
  overflow: hidden;
  will-change: transform;
}

#logoBottom {
  width: 83px;
  height: 11px;
  position: relative;
  top: 0.5px;
  left: -1px;
  will-change: transform;
}

#logoBottomMask {
  height: 11px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  will-change: transform;
}
#arrowOnly {
  position: absolute;
  bottom: -3.5px;
  right: 14px;
}

/*CUSTOMIZABLE*/
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#endframe {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading,
.subheading,
.cta-text,
.eyebrow {
  font-family: VerizonNHGeDSBold;
}

.logo-fill {
  fill: #ffffff;
}

.arrow-fill {
  fill: #F8F3E9;
}

.heading {
  font-size: 28px;
  line-height: 100%;
  text-align: center;
}

.subheading {
  font-size: 16px;
  margin-top: 15px;
}

.eyebrow {
  margin-bottom: 10px;
  font-size: 12px;
}

#legalContainerInner .sublegal {
  text-align: right;
  position: absolute;
  top: -9px;
}

#legalContainerWide.legal-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

#legalContainerWide.legal-container:not(:empty) {
  margin-bottom: -20px;
}

.legal-container.legal-inner {
  margin-top: 0px;
}

.disclaimer {
  color: #000;
}

#deviceFrame {
  opacity: 0;
  visibility: visible;
  text-align: center;
}

#deviceFrame img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: auto;
}

.cta-mask {
  width: 53% !important;
}

/* ------------- HEADLINES ---------------------------------------- */
#h1Heading,
#h2Heading,
#h3Heading,
#h4Heading,
#h5Heading,
#h6Heading,
#endFrameHeading {
  margin-top: 32px;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.splitted-chars {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#h1Heading .splitted-lines1 {
  font-size: 56px;
  left: -46px;
}
#h1Heading .splitted-lines2 {
  font-size: 30px;
  top: 15.5px;
  left: 30.5px;
}

#h2Heading .splitted-lines1 {
  font-size: 30px;
  left: 0.5px;
  top: -5.5px;
}
#h2Heading .splitted-lines2 {
  font-size: 46px;
  top: 4px;
  left: 1px;
}

#h3Heading {
  font-size: 46px;
  left: 1px;
  top: -1px;
}

#h4Heading {
  font-size: 56px;
  left: 0.5px;
  top: -1.5px;
}

#h5Heading .splitted-lines1 {
  font-size: 30px;
  left: 0.5px;
  top: -14px;
}
#h5Heading .splitted-lines2 {
  font-size: 60px;
  top: -2.5px;
  left: 0.5px;
}

#h6Heading .splitted-lines1 {
  font-size: 36px;
  left: 1px;
  top: -3px;
}
#h6Heading .splitted-lines2 {
  font-size: 36px;
  top: 0.5px;
  left: 1px;
}

#endFrameHeading {
  margin-top: -85px;
  font-size: 32px;
  line-height: 34px;
}
#endFrameHeading .splitted-lines1 {
  left: -11px;
  top: -0.5px;
}
#endFrameHeading .splitted-lines2 {
  left: -5.5px;
  top: -0.5px;
}
#endFrameHeading .splitted-lines3 {
  left: -59px;
  top: -0.5px;
}

#h1Heading div,
#h2Heading div,
#h3Heading div,
#h4Heading div,
#h5Heading div,
#h6Heading div {
  will-change: transform;
  perspective: 1000px;
}


/* ------------- ELLIPSE ---------------------------------------- */
#ellipseWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ellipse {
  position: absolute;
  will-change: transform;
}
#ellipse1 {
  top: -180px;
  left: 32px;
}

#ellipse2 {
  top: 51px;
  left: -102px;
  opacity: 0;
}

#ellipse3_innerCic,
#ellipse3_outerCirc {
  top: -49px;
  left: -24px;
  opacity: 0;
}

body {
  width: 300px;
  height: 250px;
}
