body {margin: 0px;}
* { box-sizing: border-box; }

#container {
	background-color: #FFFFFF;
	border: 1px solid gray;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	width: 300px;
	height: 250px;
	pointer-events: none;
}

#container * {
	position: absolute;
}

#clickthru{
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.bg{
	width: 300px;
	height: 250px;
}

/*-------------- SPRITE -------------*/
.sprite { background: url('sprite.png') no-repeat top left; width: 258px; height: 515px; background-size: 258px 515px;  } 
.sprite.cta-txt1 { background-position: 0 0; width: 69px; height: 11px; } 
.sprite.cta-txt2 { background-position: 0 -16px; width: 69px; height: 11px; } 
.sprite.f1-t1 { background-position: 0 -32px; width: 119px; height: 11px; } 
.sprite.f1-t2 { background-position: 0 -48px; width: 254px; height: 23px; } 
.sprite.f2-t1 { background-position: 0 -76px; width: 154px; height: 50px; } 
.sprite.f2-t2 { background-position: 0 -131px; width: 167px; height: 51px; } 
.sprite.f3-t1 { background-position: 0 -187px; width: 142px; height: 50px; } 
.sprite.footer-jobcode {background-position: 0 -240px;width: 88px;height: 9px;} 
.sprite.footer-logo1 { background-position: 0 -253px; width: 58px; height: 21px; } 
.sprite.footer-logo2 { background-position: 0 -279px; width: 87px; height: 16px; } 
.sprite.logo1-big { background-position: 0 -300px; width: 248px; height: 106px; } 
.sprite.ref-txt { background-position: 0 -411px; width: 258px; height: 104px; } 


/*--------- SPRITE POSITION ---------*/
.cta-txt1, .cta-txt2{top: 6px;left: 27px;}
.cta-txt2{ opacity: 0; }

.cta{
	background-color: #0691cb;
	border-radius: 13px;
	border: 1px solid #0691cb;
	width: 125px;
	height: 25px;
	left: 91px;
	top: 129px;
}

.f1-t1{
	top: 80px;
	left: 22px;
}
.f1-t2{
	top: 97px;
	left: 23px;
}
.f2-t1{
	top: 75px;
	left: 122px;
}
.f2-t2{
	top: 75px;
	left: 122px;
}
.f3-t1{
	top: 75px;
	left: 135px;
}
.footer-jobcode{
	bottom: -1px;
	right: 19px;
}
.footer-logo1{
	bottom: 12px;
	right: 14px;
}
.footer-logo2{
	bottom: 15px;
	left: 22px;
}
.logo1-big{
	top: 48px;
	left: 26px;
}
.logo3{
	top: 201px;
	left: 215px;
}
.ref-txt{
	top: 61px;
	left: 22px;
}
.btn-close{
	top: 20px;
	left: 270px;
	pointer-events: auto;
	cursor: pointer;
}
.footer-ref{
	bottom: 0;
	left: 2px;
	pointer-events: auto;
	cursor: pointer;
}


/*-------- IMAGES | POSITION --------*/
.frame1, .frame2, .frame3, .frame4{
	width: 300px;
	height: 200px;
	top: 12px;
	 overflow: hidden; 
}

.whiteBg{
	background-color: white;
	clip: rect(0px, 300px, 200px, 0px);
	width: 300px;
	height: 200px;
	top: 12px;
}

.DNAanim{
	width: 300px;
	height: 250px;
	top: -13px;
}

.strands.b{
 	background-color: #005b7f;
 	width: 40px;
 	height: 4px;
}
.strands.lb{
 	background-color: #0691cb;
 	width: 21px;
 	height: 4px;
}

.strands{
	border-radius: 20px;
}

.str1a{top: 31px;left: 48px;}
.str1b{top: 51px;left: 57px;}
.str2a{top: 172px;left: 57px;}
.str2b{top: 192px;left: 47px;}

#GroupPeople{
	top: -13px;
}

.PeopleGroup1{
	width: 77px;
	height: 82px;
	top: 54px;
	left: 4px;
}
.PeopleGroup2{
	width: 59px;
	height: 99px;
	top: 102px;
	left: 71px;
}
.PeopleGroup3{
	width: 151px;
	height: 228px;
	top: 5px;
	left: -15px;
}
.PeopleGroup4{
	width: 44px;
	height: 83px;
	top: 150px;
	left: 34px;
}
.Bottom_Pips{
	width: 193px;
	height: 269px;
	top: 235px;
	left: -44px;
}

.infected{
	width: 14px;
	height: 34px;
}

.Inf1{
	top: 369px;
	left: 69px;
}
.Inf2{
	top: 341px;
	left: 37px;
}
.Inf3{
	top: 303px;
	left: 110px;
}
.DNA{
	width: 65px;
	height: 170px;
	top: 29px;
	left: 35px;
}
.man{
	width: 65px;
	height: 170px;
	top: 29px;
	left: 35px;
}