@charset "UTF-8";
/* CSS Document */

body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}

div {
  position: absolute;
}

img {
  width: 300px;
  height: 600px;
}

.productHolder img {
  width: 100%;
  height: auto;
}

/* Div layer for the entire banner. */
#main_content {
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

#border {
  width: 300px;
  height: 600px;
  bottom: 0;
  left: 0;
  border: 1px solid #000000;
  box-sizing:border-box;
}

#clickthru{
  width: 100%;
  height: 100%;
  pointer-events: auto;
  cursor: pointer;
}

.dust, .bg-shadow {
    width: 100%;
    height: 100%;
}

.f1-prod1_shadow {
  opacity: 0;
}

#cvs{
  bottom: 0;
  right: 0;
  position: absolute;
}

.bg3{
  background-color: #853a92;
  width: 100%;
  height: 100%;
}

.purpleBox{
  background-color: #853a92;
  opacity: 0.9;
}

.boxL, .boxR{
  width: 13px;
  height: 554px;
}
.boxT, .boxB{
  width: 265px;
  height: 13px;
}
.boxL{
  top: 11px;
  left: 12px;
}
.boxR{
  top: 24px;
  left: 277px;
}
.boxT{
  top: 11px;
  left: 25px;
}
.boxB{
  top: 565px;
  left: 12px;
}

.productHolder, .bg2, .model1holder, .model2holder{
  width:300px;
  height:600px;
}

.model2holder{
  overflow: hidden;
}

.bg2, .bg2 img{
  width:340px;
  height:600px;
}

.bg1, .bg1 img{
  width: 863px;
  height: 834px;
  top: -234px;
  left: -563px;
}

.bg2-model, .bg2-model img{
  width: 320px !important;
}

.f1-prod1, .f1-prod1_refect{
  width: 194px;
  height: 188px;
  top: 26px;
  left: 75px;
}

.f1-prod1_shadow{
  width: 300px;
  height: 75px;
  top: 147px;
  left: 0px;
}

.f3{
  /*top: -44px;*/
}

.f3-t7{
  top: 0px;
  left: 0px;
  position: absolute;
  width: 300px;
  height: 600px;
}

.ctaBg{
  background-color: #ffd300;
  width: 141px;
  height: 41px;
  top: 464px;
  left: 79px;
}

#cta{
  width: 300px;
  height: 600px;
}

.ctaText1, .ctaText2{
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
}
.ctaText2{ opacity: 0; }
