@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'VerizonNHGeDSRegular';
  src: url('../fonts/VerizonNHGeDS-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGeDSBold';
  src: url('../fonts/VerizonNHGeDS-Bold.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'VerizonNHGDSLight';
  src: url('../fonts/VerizonNHGDS-Light.woff2') format('woff2');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  /*    -webkit-backface-visibility: hidden;*/
  /* Safari */
  /*    backface-visibility: hidden;*/
}

html,
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ad-width: 0;
  --ad-height: 0;
  --cta-arrow-width: 9px;
  --headline-font: 34px;
}

/* ------------ Generic ----------- */
.frame {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.heading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--ad-width);
  height: var(--ad-height);
  background-color: #F8F3E9;
  overflow: hidden;
  visibility: hidden;
}

/* ------------ DOM ----------- */
#headingFrame {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 0;
}

#headingContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------ Images ----------- */
.media-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ------------ Text fields ----------- */
#main,
.heading,
.eyebrow,
.exposed-legal {
  position: relative;
  font-family: "VerizonNHGDSLight";
  color: #E10014;
}

b {
  font-family: VerizonNHGeDSBold;
  font-weight: 400;
}

.exit-click {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.banner-exit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #d8dada;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

/* Tooltip Properties */
.hotspot {
  position: absolute;
  background: transparent;
  /* Red semi-transparent background for visibility */
  cursor: pointer;
  z-index: 2;
}

.arrowTip-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.tooltip-arrow {
  position: absolute;
  top: 0.35px;
  left: 0;
  width: 9px;
  height: 6px;
  z-index: 3;
}

.tooltip-container {
  position: absolute;
  width: 146px;
  height: 79px;
  border: solid 0.5px #000;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 12px 25px 10px 14px;
  z-index: 2;
}

.disclaimer {
  font-family: VerizonNHGeDSRegular;
  font-size: 8px;
  line-height: 1.125em;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}

.disclaimer::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 44px;
  top: 23px;
  right: 11px;
  background: rgb(246, 246, 246);
}

.close-btn {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

.xclose {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scroll-thumb {
  position: relative;
  width: 100%;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

/*COLORS*/
.red,
red {
  color: #EE001E;
}

.coral,
coral {
  color: #FF281E;
}

.yellow,
yellow {
  /* color: #F8FF3C; */
  color: #F5FF1E;

}

.textColor,
textColor {
  color: #F6F0E2;
}

.stone,
stone {
  color: #F6F0E2;
}

.white,
white {
  color: #FFFFFF;
}

.black,
black {
  color: #000000;
}

/*Footer*/
.footer-container,
.lockup-container {
  position: relative;
  display: flex;
  width: 100%;
}

.footer-container {
  max-height: 77px;
}

.lockup-container {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.legal-container {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

.logo-container,
.cta-container {
  display: flex;
}

.exposed-legal {
  font-size: 8px;
  color: #E10014;
}

.cta-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  display: none;
}

.cta-mask {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row;
}

.cta-mask-arrow {
  position: absolute;
  width: 87px;
}

.cta-text {
  position: relative;
  white-space: nowrap;
  left: -1px;
  /*  padding-right: calc(var(--cta-arrow-width));*/
}

cta-abs {
  position: absolute;
  display: block;
  min-width: 9px;
  width: 9px;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ctaArrow {
  opacity: 1;
  top: 1.8px;
  position: relative;
}


#ctaArrowOnly {
  overflow: hidden;
  display: block;
  width: 26px;
  margin-top: -7px;
  margin-right: -1px;
  opacity: 0;
}

/*CUSTOMIZABLE*/
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#endframe {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.heading,
.subheading,
.legal-subheading,
.cta-text,
.eyebrow {
  font-family: VerizonNHGDSLight;
}

.logo,
.arrow-fill {
  fill: #F8F3E9;
}

.eyebrow {
  font-size: 12px;
}

.heading {
  font-size: 28px;
  line-height: 28px;
}

/* fixed on zoom jittery issue */
#h2Heading div,
#h4Heading div,
#h5Heading div,
#endFrameHeading div {
  will-change: transform;
  perspective: 1000px;
}

#h1Heading {
  font-size: 28px;
  line-height: 28px;
  color: #E10014;
  top: 17px;
}

#h1Heading .splitted-container:nth-child(1) {}

#h1Heading .splitted-container:nth-child(2) {}

#h2Heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.15px;
  /* color: #E10014; */
  color: #F8F3E9;
  top: 17px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  transform-origin: center center;
}


.subheading {
  font-size: 16px;
}

.legal-subheading {
  font-size: 12px;
  color: #E10014;
}

.logo {
  width: 81px;
  height: auto;
  color: #E10014;
  position: relative;
  left: 1px;
}

/* .cta-text {
    font-size: 16px;
    color: #ffffff;
    width: 86px;
} */

/* #legalContainerInner .exposed-legal {
    text-align: right;
    position: absolute;
    top: 2px;
} */

/* #legalContainerWide.legal-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
} */

/* #legalContainerWide.legal-container:not(:empty) {
    margin-bottom: -10px;
} */

/* .legal-container.legal-inner {
    margin-top: 0px;
} */

.disclaimer {
  color: #000;
}

.cta-mask {
  width: 53% !important;
}

.logo-fill {
  fill: #E10014;
  /* fill: #ffffff; */
}


.splitted-container {
  will-change: transform;
}


/*-----------------*/

#circleLine {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: -12px;
  left: 13px;
}

circle {
  transform: rotate(90deg);
  transform-origin: center;
}

#innerRedBG {
  position: absolute;
  width: 219px;
  height: 219px;
  border-radius: 50%;
  background-color: #E10014;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform-origin: 'center center';
}

#innerCircleLine1 {
  position: absolute;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  border: 1px solid #F8F3E9;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform-origin: 'center center';
}

#innerCircleLine2 {
  position: absolute;
  width: 264px;
  height: 264px;
  border-radius: 50%;
  border: 1px solid #F5FF1E;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform-origin: 'center center';
}

#f2Circle {
  transform-origin: 'center center';
}

#heading4 {
  text-align: left;
  top: 0px;
  width: 300px;
  height: 250px;
}

/*-----------------*/
#deviceFrame,
#circleFrame,
#f2Circle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* z-index: 2; */
}
#deviceFrame img {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: auto;
}
#heading3 {
  position: absolute;
  left: -14px;
  width: 300px;
}
#h3Heading {
  font-size: 28px;
  line-height: 28px;
  color: #F8F3E9;
  top: 16px;
  left: -1px;
}

#h4Heading {
  font-family: 'VerizonNHGDSLight';
  position: absolute;
  color: transparent;
  font-size: 68px;
  line-height: 64px;
  top: 52px;
  will-change: transform;
  perspective: 1000px;
  -webkit-text-stroke-color: #E10014;
  -webkit-text-stroke-width: 1px;

  left: 1px;
}
#h4Heading .splitted-container:nth-child(1) {
  letter-spacing: -0.25px;
}
#h4Heading .splitted-container:nth-child(1) {
  letter-spacing: 0.15px;
}
#h4HeadingB {
  font-family: 'VerizonNHGDSLight';
  position: absolute;
  color: #E10014;
  font-size: 68px;
  line-height: 64px;
  top: 52px;
  /* will-change: transform;
    perspective: 1000px;
    -webkit-text-stroke-color: #E10014;
    -webkit-text-stroke-width: 1px; */
  letter-spacing: 0.25px;
  left: 2px;
}

#h4HeadingB div:nth-child(4) {
  left: -2px;
}


#h5Heading {
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  top: 17px;
}

#endFrame {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0px;
  left: -15px;
  width: 300px;
  height: 250px;
  background-color: #E10014;


}
.eyebrow {
  text-transform: uppercase;
  font-size: 14px;
  top: 13px;
  left: -2px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eyebrow:nth-child(2) {
  top: -3px;
  left: 1px;
}
#endFrameEyebrow .splitted-container {
  overflow: hidden;
  line-height: 14px;
}
#endFrameEyebrow .splitted-container span {
  display: flex;
  position: relative;
}
#endFrameEyebrow .splitted-container:nth-child(1) {
  margin-bottom: 2px;
}
#endFrameEyebrow .splitted-container:nth-child(2) {
  top: -1px;
}
#endFrameHeading {
  font-size: 28px;
  margin: 21px 0px 21px;
  line-height: 28px;
  color: #F8F3E9;
  top: -1px;
  letter-spacing: 0px;
  /* left: -2px; */
}
#endFrameLegalSubheading {
  font-size: 8px;
  top: -1px;
  position: relative;
  left: -2px;
}
#endFrameEyebrow .splitted-container:nth-child(1) {
  margin-bottom: 2px;
  left: 1px;
}
#endFrameEyebrow .splitted-container:nth-child(2) {
  top: -2px;
  left: 2px;
}
#endFrameHeading div:nth-child(1) {
  left: -2px;
}
#endFrameHeading div:nth-child(2) {
  left: 3px;
}

#endFrameHeading .splitted-container:nth-child(2) {
  left: -2px;
}
#endFrameHeading .splitted-container:nth-child(3) {
  left: 0px;
}
#endFrameLegalSubheading {
  left: -1px;
}
#h1Heading,
#h2Heading {
  will-change: transform;
  perspective: 1000px;
}

#rectWrapper,
#rectangleWrapper {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
}
.rectBg {
  position: absolute;
  width: 300px;
  height: 125px;
}
#h3HeadingTopRect {
  height: 126px;
  background-color: #F8F3E9;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
#h3HeadingBotRect {
  background-color: #F8F3E9;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  bottom: 0;
}


#leftRect {
  top: 0px;
}
#rightRect {
  top: 125px;
}

.line {
  position: absolute;
  width: 121px;
  height: 1px;
  background-color: #E10014;
}

.topLine {
  left: 0;
}

.bottomLine {
  right: 0;
}

#h4HeadingTopLine1 {
  top: 14px;
}

#h4HeadingTopLine2 {
  top: 29px;
}

#h4HeadingTopLine3 {
  top: 44px;
}

#h4HeadingBottomLine1 {
  bottom: 41px;
}

#h4HeadingBottomLine2 {
  bottom: 26px;
}

#h4HeadingBottomLine3 {
  bottom: 12px;
}

/* broken cirlce */
#brokenCircWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
#f2-circle-yellow-wrp,
#f2-circle-white-wrp {
  position: absolute;
  width: 100%;
  height: 100%;
}
.f2-circles,
.f4-circles {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -25px;
  opacity: 0;
}
body {
  width: 300px;
  height: 250px;
}
